@import "../../../assets/colors.scss";

.footer {
  background-color: $background-color;
  color: $paragraph-color;
  text-align: center;
  border-top: 2px solid $highlight-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  height: 40px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.footer-left,
.footer-right {
  flex: 1;
  text-align: left;
  padding: 5px;
  word-wrap: break-word;
}

.footer-right {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.footer a {
  color: $paragraph-color;
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline;
}
