@import "../../../assets/colors.scss";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: $background-color; /* Culoare fundal */
  color: $paragraph-color; /* Culoare text */
  padding: 20px 20px 10px 20px; /* Padding sus, dreapta, jos, stânga */
  text-align: center; /* Aliniere text centru */
  border-top: 2px solid $highlight-color; /* Linia subtire roz care delimitează footer-ul */
  display: flex;
  justify-content: space-between; /* Creăm două coloane */
  align-items: center; /* Aliniere pe verticală a conținutului */
  flex-wrap: wrap; /* Permitem să se adapteze pe mobil */
  width: 100%; /* Asigură că footer-ul ocupă toată lățimea */
  position: relative; /* Permite footer-ului să se comporte normal în fluxul paginii */
  padding-top: 20px;
  padding-bottom: 10px;
  box-sizing: border-box; /* Se asigură că padding-ul și marginile sunt incluse în dimensiuni */
  
  /* Prevenirea scroll-ului pe orizontală */
  overflow-x: hidden;
}

.footer-left,
.footer-right {
  flex: 1;
  text-align: left;
  padding: 5px;
  word-wrap: break-word; /* Împărțirea cuvintelor pe mai multe linii pentru a evita overflow-ul */
}

.footer-right {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.footer a {
  color: $paragraph-color; /* Culoare link */
  text-decoration: none;
  margin: 0 10px;
}

.footer a:hover {
  text-decoration: underline; /* Sublinează la hover */
}
