<div class="trip-page-container" *ngIf="this.detailedTrip">
  <div class="trip-header">
    <h1>{{ detailedTrip.name }}</h1>
    <p>
      {{ detailedTrip.startDate | date : "yyyy-MM-dd" }} -
      {{ detailedTrip.endDate | date : "yyyy-MM-dd" }}
    </p>
    <div class="trip-details">
      <span
        ><mat-icon>people</mat-icon>
        {{ detailedTrip.numberOfPersons }} People</span
      >
      <span
        ><mat-icon>attach_money</mat-icon> Budget: $
        {{ detailedTrip.estimatedBudget }}</span
      >
    </div>
  </div>

  <!-- Activities Section -->
  <div class="activities-section">
    <h2>Planned Activities</h2>
    <div class="activities-container">
      <app-activity-card
        *ngFor="let activity of detailedTrip?.activities"
        [activity]="activity"
        (activityDeleted)="handleActivityDelete($event)"
      >
      </app-activity-card>
    </div>
  </div>

  <div class="activities-section suggested-activities-section">
    <h2>Suggested Activities</h2>
    <div>
      <app-activity-filters
        (filtersChanged)="onFiltersChanged($event)"
      ></app-activity-filters>
      <div class="activities-container">
        <app-suggested-activity-card
          *ngFor="let activity of suggestedActivities"
          [activity]="activity"
          [tripInterval]="tripInterval"
          (onActivityAdded)="refreshPlannedActivities($event)"
        >
        </app-suggested-activity-card>
      </div>
    </div>
  </div>
</div>
