@import '../../../../assets/colors.scss';

.trip-card {
  background-color: $main-color;
  color: $button-text-color;
  border-radius: 8px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  mat-card-title {
    font-size: 1.5em;
    font-weight: bold;
  }

  mat-card-subtitle {
    color: gray;
  }

  mat-card-content {
    font-size: 1em;
  }

  .trip-detail {
	display: flex;
	align-items: center;
	gap: 2px;
  }

  .actions {
	align-self: center;
  }
  
  .mat-mdc-icon-button:hover{
    color: $highlight-color !important;
    transform: scale(1.1);
  }
}
