@import "./assets/colors";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $background-color;
  color: $main-color;
  font-family: "Proxima Nova", sans-serif;
}

header {
  margin: 0;
  padding: 0;
  background-color: $paragraph-color;
}

button {
  color: $button-text-color !important;
}
