@import "./assets/colors";
html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $background-color;
  color: $main-color;
  font-family: "Proxima Nova", sans-serif;
}

header {
  margin: 0;
  padding: 0;
  background-color: $paragraph-color;
}

button {
  color: $button-text-color !important;
}

.input {
  width: 270px;
}
