@import "../../../../assets/colors.scss";

.activity-card {
  mat-icon {
    color: $button-text-color;
  }

  background-color: $main-color;
  color: $button-text-color;
  border-radius: 8px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  mat-card-title {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    color: $button-text-color;

    a {
      display: flex;
      align-items: center;
    }

    mat-icon:hover {
      color: $highlight-color;
    }
  }

  mat-card-subtitle {
    color: gray;
  }

  .actions {
    align-self: center;
    gap: 10px;
  }

  .delete-button:hover mat-icon{
    color: $highlight-color !important;
    transform: scale(1.1);
  }
}
